<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>

        <div class="container-fluid">

            <div class="row headerBar">
                <div class="col-6">
                    <h1>
                        เครื่องจำหน่ายขนมขบเคี้ยวอัตโนมัติ 2
                    </h1>
                </div>
                <div class="nav-menu col-6">
                    <ul class=" pl-1 pr-1 ml-1 mr-1">
                        <li>
                            <a href="index.html">
                                <button type="button" class="btn btn-menu menubtn">หน้าหลัก</button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <button type="button" class="btn btn-menu menubtn">จัดการสินค้า</button>
                            </a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-menu menubtn">ยอดขาย</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Row1's Products -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="https://backend.tops.co.th/media/catalog/product/8/8/8850718807949_e17-07-2020.jpg" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="https://secure.ap-tescoassets.com/assets/TH/137/8850284060137/ShotType1_540x540.jpg"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid" src="https://www.calbee.co.th/images/jaxx-tomato-sauce.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="https://www.raanthai.co.uk/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/d/a/das083lg.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="https://www.trakool.co.th/demo/account-demo/upload_img/product/1_8854505278770.png" alt="">
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>

        <!-- Buttons minus and plus in input -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="<%= value2 %>">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-1">

            </div>
        </div>

        </div>
        <!-- Row2's Products -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid" src="https://cf.shopee.co.th/file/13bdfdbb96ed3ea66a5d3b44ec7bfb76" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="https://cida.site/goods/wp-content/uploads/2020/05/%E0%B8%AE%E0%B8%B2%E0%B8%99%E0%B8%B2%E0%B8%A1%E0%B8%B4-%E0%B8%82%E0%B9%89%E0%B8%B2%E0%B8%A7%E0%B9%80%E0%B8%81%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%9A%E0%B8%81%E0%B8%B8%E0%B9%89%E0%B8%87-%E0%B8%A3%E0%B8%AA%E0%B8%94%E0%B8%B1%E0%B9%89%E0%B8%87%E0%B9%80%E0%B8%94%E0%B8%B4%E0%B8%A1-30%E0%B8%81%E0%B8%A3%E0%B8%B1%E0%B8%A1.jpg"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="https://ssshop1991.files.wordpress.com/2018/03/8851727003056.jpg?w=394&h=394&crop=1"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="https://cpfmcdn.bygodigit.net/wp-content/uploads/2020/04/28231219/51009479_P.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid" src="https://media.shopat24.com/pdmain/357885_02_grocery.jpg" alt="">
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>

        <!-- Buttons minus and plus in input -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-1">

            </div>
        </div>
</body>

</html>